{%extends 'layout.html' %}

{% block body %}

<p>Schedule Share was built by Joey Rubas (NCHS) with help from Wyatt Woker (NNHS).  </p>
<br>
<p>The site runs using Flask for backend with a MongoDB database.</p>
<br>
<p>You can learn more about the devolpment of Schedule Share on our <u><a href="https://github.com/JoeyRubas/Schedule-Share" style="color:blue">GitHub page</a> </u> and <u><a href="changelog.html" style="color:blue">Developer Changelog</a></u> (coming soon).</p>
<a>https://github.com/JoeyRubas/Schedule-Share</a>
<br>
<br>
<p>Suggestions or concerns? Email us at <u><a href="mailto:scheduleshare203@gmail.com" style="color:blue">ScheduleShare203@gmail.com</a></u></p>
<p>Version 1.1</p>


{% endblock %}