{%extends 'layout.html' %}
<h1>Developer Changelog</h1>
<h2 style="color:cornflowerblue">Ver 1.1</h2>

<p>Thank you all so much for using ScheduleShare! After hearing some feedback, I decided to make a few quick changes today to help improve the experience.</p>

<h6>Changelog:</h6>
<p>   -Added this changelog page that you are reading right now!</p>
<br>
<h6>How It Works:</h6>
<p>   -Added a page that teaches you how to use the site in case you are confused</p>
<br>
<h6>About Page:</h6>
<p>   -Added link to the changelog</p>
<p>   -Added link to the GitHub repository</p>
<p>   -Added my email to send suggestions and concerns</p>
<br>
<h6>New search feature:</h6>
<p>   -Added searching for classes</p>
<br>
<p>Have a great day!</p>
<br>
<p style="color:orange">     -Schedule Share team</p>

{% endblock %}
