
{%extends 'layout.html' %}
{% block body %}

        <form action="" method="post" class="form-group">
                School: {{form.school(class="form-control")}}
        
                <table class="table">
                    <tr>
                        <th>Period</th>
                        <th>Class Code</th>
                        <!--<th>School</th>-->
                    </tr>
                    
                    <tr>
                        <td>1</td>
                        <td>{{form.p1(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>2</td>
                        <td>{{form.p2(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>3</td>
                        <td>{{form.p3(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>4</td>
                        <td>{{form.p4(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>5</td>
                        <td>{{form.p5(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>6</td>
                        <td>{{form.p6(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>7</td>
                        <td>{{form.p7(class="form-control")}}</td>
                    </tr>
                           
                    <tr>
                        <td>8</td>
                        <td>{{form.p8(class="form-control")}}</td>
                    </tr>
                           
                </table>

                {{form.submit1(class = "btn btn-primary")}} 
            </form>


{% endblock %}