{%extends 'layout.html' %}

{% block body %}
<h1>How to Use ScheduleShare</h1>
<br>
<p>Upon signing in, you will be asked to enter your schedule. Choose your school and enter the class codes found on your schedule. Once you hit submit, your schedule will be saved to our database for anyone to see.</p>
<br>
<p>Now that you have entered your schedule, you can click on any class to see who else is in it. Then, you can click on any person in that class to see their schedule, where you can click on any of their classes to see who is in it. This cycle can go on indefinitely.</p>
{% endblock %}